name: Publish Package

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write     # required for OIDC
  contents: read      # allows checkout

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Install deps
        run: npm ci

      - name: Publish
        run: npm publish --access public
